@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Amatic SC', cursive;
}

body {
    font-family: var(--primary-font);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1rem;
}

header img {
    max-width: 100px;
}

header h1 {
    font-family: var(--secondary-font);
    font-size: 2.5rem;
}

main {
    padding: 1rem;
}

.search {
    margin-bottom: 1rem;
}

.search input {
    width: calc(100% - 90px);
    padding: 0.5rem;
    font-size: 1rem;
    display: inline;
    float: left ;
}

.search button {
    width: 80px;
    padding: 0.6rem;
    font-size: 1rem;
    display: inline;
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    float: right;
    margin-top: -2.35rem;
    margin-right: -0.6rem;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.recipe {
    border: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.recipe img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.recipe h2 {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    margin: 0;
}

.recipe p {
    margin: 0.5rem 0;
}

.rating {
    display: flex;
    gap: 0.25rem;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
}

footer p {
    margin: 0.5rem 0;
}

footer .social a {
    margin: 0 0.5rem;
}

footer .social a img {
    max-width: 40px;
}

@media (min-width: 600px) {
    .recipes {
        flex-direction: column;
    }

    .recipe {
        flex-direction: row;
        max-width: 90%;
    }

    .recipe img {
        max-width: 40%;
        margin-bottom: 0;
    }

    .recipe-content {
        flex: 1;
        padding-left: 1rem;
    }
}

@media (min-width: 960px) {
    body {
        max-width: 100%;
        margin: 0 auto;
    }

    .recipe {
        max-width: 90%;
    }

    footer {
        background-color: var(--primary-color);
        color: var(--text-light);
        text-align: right;
        padding: 1rem;
        font-size: 0.8rem;
    }

    footer p {
        margin: 0.5rem 0;
        text-align: left;
}
